.block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.block .nav .nav_list {
  display: flex;
  gap: 70px;
}
.block .nav .nav_list .nav_item {
  list-style-type: none;
}
.block .nav .nav_list .nav_item .nav_link {
  text-decoration: none;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.block .nav .nav_list .nav_item .nav_link:hover {
  transition: 0.25s ease;
  color: #91916C;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  display: flex;
  gap: 58px;
}
.hero .complect {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .complect .hero_title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 139%;
  letter-spacing: 0.02em;
  color: #E5A985;
}
.hero .complect .hero_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 171%;
  letter-spacing: 0.02em;
  color: #4A4747;
  margin-bottom: 60px;
}
.hero .complect .hero_form .hero_input {
  background: #E5E5E5;
  border-radius: 8px 0px 0px 8px;
  width: 465px;
  height: 58px;
  border: none;
}
.hero .complect .hero_form .hero_button {
  border: none;
  width: 160px;
  height: 58px;
  background: #91916C;
  border-radius: 0px 8px 8px 0px;
}

.second-section .container {
  margin-top: 100px;
  padding: 30px;
  background: #E1E1C2;
}
.second-section .container .product_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #91916C;
  width: 288px;
  margin-left: 500px;
  padding-bottom: 30px;
}
.second-section .container .shop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.second-section .container .shop .jamp {
  display: flex;
  gap: 30px;
}
.second-section .container .shop .jamp a {
  display: flex;
  align-items: center;
}
.second-section .container .shop .jamp img {
  border-radius: 20px;
}
.second-section .container .shop .product_title-tou {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #65653E;
  max-width: 700px;
}
.second-section .container .shop .product_title-sourse {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
}

.sourse-section {
  margin-top: 100px;
}

.product_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #91916C;
  width: 288px;
  margin-left: 500px;
  padding-bottom: 30px;
}

.shop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop .product_title-tou {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #E5A985;
  width: 700px;
}
.shop .bloger {
  display: flex;
  gap: 50px;
}
.shop .bloger .fashion {
  width: 351px;
  height: 485px;
  background: #FAE3D8;
  border-radius: 20px;
}
.shop .bloger .fashion .blog_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}
.shop .bloger .fashion_blog {
  background: #91916C;
  box-shadow: 10px 10px 35px 2px rgba(89, 56, 14, 0.1);
  border-radius: 20px;
  width: 387px;
  height: 535px;
}
.shop .bloger .fashion_blog .bloger_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.four-section .container {
  margin-top: 100px;
  padding: 30px;
  background: #FFEFE7;
}
.four-section .container .product_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #91916C;
  width: 288px;
  margin-left: 500px;
  padding-bottom: 30px;
}
.four-section .container .shop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.four-section .container .shop .product_title-tou {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #65653E;
  max-width: 700px;
}
.four-section .container .shop .jeton {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.four-section .container .shop .jeton .karter {
  gap: 20px;
  display: flex;
}
.four-section .container .shop .jeton .karter .imgs {
  gap: 20px;
  display: flex;
}
.four-section .container .shop .jeton .karter .imgs .karter_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 171.5%;
  letter-spacing: 0.02em;
  color: #333333;
  width: 201px;
}
.four-section .container .shop .jeton .vulqon {
  gap: 20px;
  display: flex;
}
.four-section .container .shop .jeton .vulqon .imgs {
  gap: 20px;
  display: flex;
}
.four-section .container .shop .jeton .vulqon .imgs .karter_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 171.5%;
  letter-spacing: 0.02em;
  color: #333333;
  width: 201px;
}

.havo_title {
  padding: 30px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #91916C;
  width: 288px;
  margin-left: 650px;
  margin-bottom: 50px;
}

.five-section .container {
  padding: 30px;
  background: #91916C;
  position: absolute;
  height: 833px;
}
.five-section .container .product_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #91916C;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #91916C;
  width: 288px;
  margin-left: 500px;
  padding-bottom: 30px;
}
.five-section .container .shop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.five-section .container .shop .product_title-tou {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 139%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  max-width: 500px;
}
.five-section .container .shop .poisk {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 250px 0 0 300px;
}
.five-section .container .shop .poisk .poisk_one .poisk_input-one {
  background: rgba(225, 225, 194, 0.4);
  border-radius: 8px;
  width: 270px;
  height: 45px;
  border: none;
}
.five-section .container .shop .poisk .poisk_one .poisk_input-tou {
  background: rgba(225, 225, 194, 0.4);
  border-radius: 8px;
  width: 270px;
  height: 45px;
  border: none;
}
.five-section .container .shop .poisk .poisk_tou {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.five-section .container .shop .poisk .poisk_tou .poisk_input-sourse {
  background: rgba(225, 225, 194, 0.4);
  border-radius: 8px;
  height: 45px;
  border: none;
}
.five-section .container .shop .poisk .poisk_tou .poisk_input-four {
  background: rgba(225, 225, 194, 0.4);
  border-radius: 8px;
  height: 45px;
  border: none;
}
.five-section .container .shop .poisk .poisk_tou .poisk_button {
  background: #E5A985;
  border-radius: 8px;
  border: none;
  height: 45px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135.5%;
  color: #FFFFFF;
}

.five-section {
  justify-content: center;
  display: flex;
}

.poisk_img {
  margin-right: 750px;
  margin-top: 330px;
  position: relative;
}

.Git-hub {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 30px;
  color: aqua;
}/*# sourceMappingURL=main.css.map */