.second-section  .container {
    margin-top: 100px;
    padding: 30px;
    background: #E1E1C2;
    .product_title {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 139%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #91916C;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #91916C;
        width: 288px;
        margin-left: 500px;
        padding-bottom: 30px;
    }

    .shop {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .jamp {
            display: flex;
            gap: 30px;

            a {
                display: flex;
                align-items: center;
            }
            img {
                border-radius: 20px;
            }
        }

        .product_title-tou {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 139%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #65653E;
            max-width: 700px;
        }

        .product_title-sourse {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 139%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #333333;
        }
    }
}